<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Mi Tienda</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart">Carrito</a>
          </li>
          <li *ngIf="isAdmin && isAuth" class="nav-item">
            <a class="nav-link" routerLink="/admin/users">Administrar usuarios</a>
          </li>
          <li *ngIf="isAdmin && isAuth" class="nav-item">
            <a class="nav-link" routerLink="/admin/products">Administrar productos</a>
          </li>
          <li *ngIf="!isAuth" class="nav-item">
            <a class="nav-link" routerLink="/login">Iniciar sesión</a>
          </li>
          <li *ngIf="!isAuth" class="nav-item">
            <a class="nav-link" routerLink="/register">Registro</a>
          </li>
          <li *ngIf="isAuth" class="nav-item">
            <a class="nav-link" (click)="onLogout()" routerLink="/products">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>