 <div class="container my-5">
    <h1 class="text-center mb-4">Administrar Productos</h1>
    
    <!-- Botón para agregar nuevo producto -->
    <div class="mb-4 text-end">
      <a class="btn btn-success" (click)="openCreateModal()">Agregar Nuevo Producto</a>
    </div>
    
    <!-- Lista de productos -->
<div class="row" id="productos-list">
  <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let product of products">
    <div class="card">
      <img src="{{baseApiUrl}}/uploads/{{product.path}}" class="card-img-top product-img" alt="Producto">
      <div class="card-body">
        <h5 class="card-title">{{product?.id}}</h5>
        <h5 class="card-title">{{product?.name}}</h5>
        <p class="card-text">{{product?.price}}</p>
        <p class="card-text">{{product?.description}}</p>
        <p class="card-text">{{product?.price}}</p>
        <p class="card-text">{{product?.category}}</p>
        <p class="card-text">{{product?.stock}}</p>
        <a class="btn btn-primary" (click)="openEditModal(product)">Editar</a>
        <a (click)="openDeleteModal(product)" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between">
  <button class="btn btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
  <span>Página {{currentPage}} de {{totalPages}}</span>
  <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
</div>
