  <!-- Contenido principal -->
  <div class="content container my-5">
    <h2 class="text-center mb-4">Nuestros Productos</h2>
    <div class="row">

       @for (product of products; track product.id) {
      <div class="col-md-4 mb-4">
        <div class="card product-card">
          <img [src]="baseApiUrl + '/uploads/' + product.path" class="card-img-top" alt="{{product.name}}" (error)="onImageError($event)">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.price}}</p>
            <a [routerLink]="['/products', product.id]" class="btn btn-primary">Detalles</a>
          </div>
        </div>
      </div>
    }
      
  </div>

<div class="d-flex justify-content-between">
  <button class="btn btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
  <span>Página {{currentPage}} de {{totalPages}}</span>
  <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
</div>
